{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
    <h1>Info about our company</h1>
    <p>So let's get started! Since we know you're busy and probably just looking for something to copy/paste, we'll jump right into the About Us Page template. Just fill in the blanks and you'll have a professional-looking page in minutes. After that, we encourage you to read the rest of the article. It explains why About Us pages are extra important for ecommerce sites, gives you some tips on how to build the perfect About Us page that your customers will love, and shows some great example About Us pages to help inspire you.</p>
  </div>
{% endblock %}
